.heart{
    padding-top: 2px;
    height: 13px;
}

h6{
    margin:0;
    text-align:right;
}

.container{
    margin:auto; 
    width:95%;
    display: flex;
    align-Content: space-between;
    justify-Content: space-between; 
    align-Items: center
}