.container{
    min-height:48vh;
    height:48vh;
    color:black;
    overflow-y:auto;
    background-color:white;
    margin-bottom:2px
}

.grid{
    width:100%;
    height:100%;
    display:grid;
    justify-items:center;
    align-items:center
}

.words{
    width:90%;
    height:80%;
    flex-wrap:wrap;
    display:flex;
    justify-content:center;
    font-size:1.2rem;
    padding-right: 15px;
   
}

.individualColumns{
   display:flex;
   justify-content:center;
   align-items: center;
   flex-direction:column;
   padding-left:15px;
   padding-bottom:2px;
}

.wordToTranslate{
    color:#cbd5e0;
    border-bottom: 1px solid rgba(0,0,0,0.05)
}
